@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgba(21, 26, 39, 255);
    color: white;
}

.bdy {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* height: 100%; */
}

.sidebar {
    width: 25%;
    height: 100%;
    /* background-color: blanchedalmond; */
}

.main {
    width: 75%;
    height: 100%;
    /* background-color: #0d0914 */
}

.searchbar {
    background-color: rgba(44, 50, 65, 255);
    width: 400px;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    padding-left: 5px;
    color: #fff;
}

.drops {
    background-color: rgba(21, 26, 39, 255);
    width: 100px;
    color: #fff;
    height: 35px;
    border-radius: 5px;
    outline: none;
    margin-right: 30px;
}

.searchparent {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.parentdrops {
    display: flex;
    padding-right: 20px;
}

.music-parent {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.music {
    height: 300px;
    width: 230px;
    background-color: rgba(44, 50, 65, 255);
    margin-bottom: 20px;
    border-radius: 8px;
    margin-right: 32px;
}

.music-detail {
    height: 35%;
    margin-top: 195px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background: rgba(21, 26, 39, 255, 0.7);
    backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.m1 {
    background: url(./assests/istockphoto-1362706206-1024x1024.jpg);
    background-size: cover;
}

.m2 {
    background: url(./assests/sir-simo-qwlmoSxkjZA-unsplash.jpg);
    background-size: cover;
}

.m3 {
    background: url(./assests/alexander-mass-Ct43u3ACM00-unsplash.jpg);
    background-size: cover;
}

.m4 {
    background: url(./assests//eric-muhr-mRVR66Yc_kY-unsplash.jpg);
    background-size: cover;
}

.m5 {
    background: url(./assests/steve-johnson-8FV2GkBYr1s-unsplash.jpg);
    background-size: cover;
}

.m6 {
    background: url(./assests/tom-gainor-rbDPLBr0Ut0-unsplash.jpg);
    background-size: cover;
}

.m7 {
    background: url(./assests/whosaynow-hWBU3vMpTkg-unsplash.jpg);
    background-size: cover;
}

.m8 {
    background: url(./assests/richard-stachmann-8WeN-p3KtKE-unsplash.jpg);
    background-size: cover;
}

.m9 {
    background: url(./assests//florian-hahn-PNZ8iGkYBJ8-unsplash.jpg);
    background-size: cover;
}

.m10 {
    background: url(./assests/francesco-ungaro-gDMg_T37Ufs-unsplash.jpg);
    background-size: cover;
}

.m11 {
    background: url(./assests/grigorii-shcheglov-a1cKK32kZgI-unsplash.jpg);
    background-size: cover;
}

.m12 {
    background: url(./assests/jaakko-perala-N-JbUUpmKzg-unsplash.jpg);
    background-size: cover;
}

.m13 {
    background: url(./assests/kevin-wang-dlRQ7xNDZj4-unsplash.jpg);
    background-size: cover;
}

.m14 {
    background: url(./assests//hans-ott-_gKKw8fIjDY-unsplash.jpg);
    background-size: cover;
}

.m15 {
    background: url(./assests/jean-carlo-emer-csZUCsZpDaE-unsplash.jpg);
    background-size: cover;
}

.m16 {
    background: url(./assests/sir-simo-8Xly6IqoBf4-unsplash.jpg);
    background-size: cover;
}

.m17 {
    background: url(./assests/anna-hlYFzT3A3-8-unsplash.jpg);
    background-size: cover;
}

.m18 {
    background: url(./assests/benjamin-chambon-QPInlTAwwLg-unsplash.jpg);
    background-size: cover;
}

.m19 {
    background: url(./assests/whosaynow-hWBU3vMpTkg-unsplash.jpg);
    background-size: cover;
}

.m20 {
    background: url(./assests/declan-sun-Ko2IWuJS2tI-unsplash.jpg);
    background-size: cover;
}

.m21 {
    background: url(./assests/single-earth-dyLpFpW7LR0-unsplash.jpg);
    background-size: cover;
}

.m22 {
    background: url(./assests/sir-simo-qwlmoSxkjZA-unsplash.jpg);
    background-size: cover;
}

.m23 {
    background: url(./assests/old-youth-29sudGmuzeo-unsplash.jpg);
    background-size: cover;
}

.m24 {
    background: url(./assests/paul-bill-N3Tw37olxyo-unsplash.jpg);
    background-size: cover;
}

.song {
    font-size: 18px;
    color: #fff;
    font-weight: 580;
    text-align: center;
}

.artist {
    color: rgb(92, 91, 91);
    font-weight: 580;
    text-align: left;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}

.fa-download {
    color: #fff;
    position: absolute;
    bottom: 14px;
    left: 12px;
}

.fa-heart {
    color: #fff;
    position: absolute;
    bottom: 14px;
    left: 45px;
}

.fa-heart:hover {
    font-size: 25px;
    color: red;
}

.fa-ellipsis-h {
    color: #fff;
    position: absolute;
    bottom: 14px;
    left: 80px;
}

.fa-circle-play,
.fa-pause-circle {
    color: #289220;
    position: absolute;
    bottom: 10px;
    right: 25px;
    font-size: 30px;
}

hr {
    border: none;
    height: 0.8px;
    background-color: rgb(92, 91, 91);
    width: 80%;
    margin: 0 auto;
}

.filter {
    margin-top: 205px;
    display: flex;
}

.fa-bars {
    margin-left: 50px;
    font-size: 20px;
    margin-right: 10px;
}

#filterp {
    display: inline;
    font-family: "Poppins", sans-serif;
}

.artists {
    margin-top: 50px;
}

.artist-title {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: bold;

}

.fa-user {
    margin-right: 13px;
}

.Artists {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.Artist {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 25px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(14px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    height: 25rem;
    width: 23rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

.Artist img {
    border-radius: 50%;
    width: 50%;
    margin: 5rem;
}

.Artist h1 {
    /* letter-spacing: 0.2rem; */
}

.mood p {
    display: inline;
    padding: 10px;
}

.mood {
    margin-left: 100px;
    margin-top: 30px;
}

.moodchecks {
    display: none;
}

.mooddrop:hover .moodchecks {
    display: block;
}

.Genre {
    margin-left: 100px;
    margin-top: 0px;
}

.Genre p {
    display: inline;
    padding: 10px;
}

.genrechecks {
    display: none;
}

.genredrop:hover .genrechecks {
    display: block;
}

.art_ist {
    margin-left: 100px;
    margin-top: 0px;
}

.art_ist p {
    display: inline;
    padding: 10px;
}

.art_istchecks {
    display: none;
}

.art_istdrop:hover .art_istchecks {
    display: block;
}

/* .a1 {
    background-image: url(./assests/artists/500x500-000000-80-0-0.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(10px);
} */

.a1 {
    position: relative;
    overflow: hidden;
}

.a1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(./assests/artists/500x500-000000-80-0-0.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: -1;
}

.a2 {
    position: relative;
    overflow: hidden;
}

.a2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(./assests/artists/david.webp);
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: -1;
}

.a3 {
    position: relative;
    overflow: hidden;
}

.a3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(./assests/artists/justin.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: -1;
}

.a4 {
    position: relative;
    overflow: hidden;
}

.a4::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(./assests/artists/michael.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: -1;
}

.playlist-title {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.playlists h1 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

.fa-music {
    margin-right: 13px;
}

.playlist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.list {
    margin-top: 50px;
    height: 400px;
    width: 400px;
    background-color: #fff;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 25px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(14px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-backward {
    position: absolute;
    bottom: 25px;
    left: 120px;
    font-size: 27px;
}

.fa-play {
    position: absolute;
    bottom: 25px;
    left: 195px;
    font-size: 27px;
}

.fa-forward {
    position: absolute;
    bottom: 25px;
    right: 120px;
    font-size: 27px;
}

.list img {
    width: 70%;
    height: 70%;
}

.l1 {
    position: relative;
    overflow: hidden;
}

.l1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(./assests/playlists/37i9dQZF1DZ06evNZVVBPG-default.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: -1;
}

.l2 {
    position: relative;
    overflow: hidden;
}

.l2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(./assests/playlists/37i9dQZF1DZ06evO3mWKYL-default.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: -1;
}

.l3 {
    position: relative;
    overflow: hidden;
}

.l3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(./assests/playlists/ab67706f0000000257246dfa8cbe38a322eca769.jpeg);
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: -1;
}

.l4 {
    position: relative;
    overflow: hidden;
}

.l4::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(./assests/playlists/ab67706f000000027cda1a881997b0bb1ca0eb92.jpeg);
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: -1;
}

iframe {
    margin-top: 50px;
    margin-left: 15%;
    height: 30vw;
}

.addedSearch {
    background-color: rgba(44, 50, 65, 255);
    padding: 2px;
    border-radius: 10px;
}

.fa-search {
    margin-right: 20px;
}

.searchbtn {
    background-color: rgba(44, 50, 65, 255);
    color: #fff;
    border: 0;
}

.fa-instagram:hover {
    color: rgb(175, 34, 58);
}

.fa-twitter:hover {
    color: rgb(82, 143, 181);
}

.fa-youtube:hover {
    color: red;
}

.fa-discord:hover {
    color: rgb(128, 68, 184);
}

.fa-twitch:hover {
    color: rgb(157, 112, 199);
}

.copyright {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    padding-bottom: 20px;
}

.gemini {
    margin-top: 80px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

textarea {
    height: 30vw;
    width: 60%;
    border-radius: 8px;
    outline: none;
    color: grey;
}

.ask {
    margin-top: 20px;
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AI {
    background-color: rgba(44, 50, 65, 255);
    border: none;
    outline: none;
    width: 55%;
    height: 40px;
    border-radius: 5px;
    color: white;
    padding-left: 5px;
}

#AI_ask {
    height: 40px;
    width: 5rem;
}

/* media queries */
@media (max-width: 1024px) {
    .searchbar {
        width: 200px;
        font-size: 12px;
    }

    .music-parent {
        justify-content: center;
    }
}

@media(max-width:1280px) {
    .searchbar {
        width: 400px;
        font-size: 15px;
    }

    .music-parent {
        justify-content: center;
    }
}

@media(max-width: 900px) {
    .addedSearch {
        display: none;
        align-items: center;
    }

    .sidebar {
        display: none;
        visibility: hidden;
    }

    .music-parent {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .music {
        margin: 0;
        margin-bottom: 30px;
    }

    .Artists {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Genre {
        display: none;
    }

    .Artist {
        /* margin-left: 18px; */
    }

    .list {
        /* margin-left: 18px; */
    }
}

@media(max-width: 541px) {
    .searchbar {
        width: 200px;
    }
}

.footer {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    /* background: #44475a; */
    background-color: white;
    ;
    padding: 3rem 0vw;

    & p {
        color: rgb(99, 98, 98);
        padding: 0.25rem;
    }

    & p:hover {
        color: black;
    }

    & h3 {
        padding: 0.25rem;
        color: rgb(69, 67, 67);
    }
}

.social-media-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    color: rgb(99, 98, 98);
}


@media(max-width:500px) {
    .parentdrops {
        display: none;
    }

    .social-media-icons {
        flex-direction: column;
        align-items: center;
    }

    textarea {
        height: 200px;
        width: 80%;
    }

    .searchparent {
        display: block;
        margin-top: 40px;
        margin-right: 0px;
    }

    .mobileline {
        visibility: visible;
    }

    .main {
        width: 90%;
    }

    .gemini {
        width: 90%;
    }

    .Artist {
        width: 18rem;
    }

    .foother p {
        font-size: 10px;
    }

    .footer h3 {
        font-weight: 400;
        font-size: 15px;
    }
}

.mobilesearch {
    display: flex;
    align-items: flex-end;
    justify-content: end;
}

.mobileline {
    /* visibility: hidden; */
}

@media(min-width:600px) {
    .mobileline {
        visibility: hidden;
    }
}

@media(max-width:800px) {
    /* .footer {
        width: 140%;
    }

    .gemini {
        width: 150%;
        margin-left: 100px;
    } */
}

@media(max-width:900px) {
    .searchbar {}
}

@media(max-width:1050px) {
    .searchbar {
        width: 70%;
    }
}


/* to add music bottom play button  */
.music-play-progress {
    position: fixed;
    height: 5rem;
    width: 100%;
    background-color: rgba(44, 50, 65, 255);
    z-index: 1000;
    margin-top: 67vh;
    display: flex;
    gap: 5px;
    justify-content: baseline;
    align-items: flex-end;
    display: none;
}

@media(max-width:900px) {
    .fa-search {
        display: none;
        font-size: 0px;
    }
}


.movies {
    width: 75%;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.movies-box {
    background-color: white;
    /* color: rgb(69, 67, 67); */
    /* color: black; */
    color: black;
    display: flex;
    align-items: center;
    width: 85%;
    margin: 3% 5%;
    height: 50vh;
    border-radius: 10px;
    overflow: hidden;
    padding: 2rem;
}

.movies-box img {
    object-fit: cover;
    border-radius: 10px;
    height: 80%;
    max-width: 40%;
    margin: 10px;
}

@media(max-width:500px) {
    .movies-box {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .movies-box img {
        max-width: 100%;
    }

    .movies-box p {
        display: none;
    }

    .movies-box h4 {
        display: none;
    }

    .line {
        display: none;
    }
}

.movies-box.left {
    flex-direction: row;
}

.movies-box.right {
    flex-direction: row-reverse;
}

.line {
    background-color: rgb(61, 60, 60);
    ;
    width: 10px;
    margin: 10px;
    height: 90%;
    transition: width 0.2s ease;
}

.movies-box:hover .line {
    width: 20px;
    margin: 15px;
}

.movies-box:hover {
    cursor: pointer;
    transition: 0.5s ease;
    transform: scale(1.05);
}

.details {
    display: flex;
    flex-direction: column;
}

.details h1 {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.btn {
    margin: 70px auto 0;
    text-align: center;
}

.btn a:hover {
    background-color: #000;
    color: #fff
}

.btn a {
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: black;
    border: 1px solid black;
    position: relative;
    z-index: 1;
    background-color: #fff;
}

.movies-box h4 {
    font-weight: 600;
}

.movies-heading {
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
    margin-top: 2rem;
    ;
}

.anime-heading {
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
    ;

}

.anime-heading {
    text-align: center;
}

.anime {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
}

.anime div {
    width: 250px;
    height: 250px;
    overflow: hidden;
}

.anime img {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
    object-fit: cover;
}

.anime img:hover {
    transform: scale(1.1);
}

@media(max-width:1250px) {
    .addedSearch {
        display: none;
    }
}

.parallax {
    background-image: url("./assests/landing/istockphoto-1295114854-1024x1024.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media(max-width:700px) {
    .music-parent {
        justify-content: center;
    }

    .playlists {
        justify-content: center;
        align-items: center;
        width: auto;
        margin-left: 50px;
    }

    .movies {
        justify-content: center;
        align-items: center;
    }

    .movies-box {
        margin-left: 80px;
        ;
    }

    .Artist {
        margin-left: 50px;
    }

    /* .footer {
        width: 60%;
    } */

}

@media (min-width: 700px) and (max-width: 1000px) {
    .music-parent {
        gap: 5rem;
    }
}

@media(max-width:800px) {
    .footer {
        display: none;
    }
}